@{
    ViewBag.Title = "Home Page";
}
@using Entity
@model IList<Food>
<div class="jumbotron">
    <h3>Listedeki Yiyecekler</h3>
   
    <table class="table table-striped">
        <tr>
            <th>FoodName</th>
            <th>Price</th>
            <th>IsHealty</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FoodName</td>
                <td>@item.Price</td>
                <td>@item.IsHealty</td>

            </tr>
        }
    </table>
</div>





